body {
  margin: 0;
  font-family: 'SF Pro Display bold' , sans-serif;
  background-color: var(--color-primary);
  color: #fff;
}

:root {
  --color-primary: #000000 !important;
  --color-secondary: #FCC509 !important;

}

a, a:hover {
  text-decoration: none;
  color: unset;
}
